<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include ('../partials/sidebar.ejs') %>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%- include ('../partials/topbar.ejs') %>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <div class="flex">
                                    <!-- Page Heading -->
                                    <div class="left">
                                        <h1 class="h3 mb-2 text-gray-800">Board Members</h1>
                                        <p class="mb-4">Change or add board members:-</p>
                                    </div>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary add-btn" data-toggle="modal" data-target="#addMember">
                                        Add
                                    </button>
                                </div>

                                <!-- Add Modal -->
                                <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 60%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addMemberTitle">Add Board Member</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Image</th>
                                                            <th>Designation</th>
                                                            <th>Description</th>
                                                            <th>LinkedIn</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <form action="/board/add-board" method="post" enctype="multipart/form-data">
                                                                <td><input type="file" class="ip-fields" name="boardImageAdd" id="boardImage" placeholder="Image URL"></td>
                                                                <td><input type="text" class="ip-fields" name="designationAdd" id="designation" placeholder="Designation Of Board Member"></td>
                                                                <td><input type="text" class="ip-fields" name="descriptionAdd" id="description" placeholder="Description Of Board Member"></td>
                                                                <td><input type="text" class="ip-fields" name="linkedinAdd" id="linkedin" placeholder="LinkedIn URL"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Add new member</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Table of Board Members</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th>Designation</th>
                                                        <th>Description</th>
                                                        <th>LinkedIn</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% board.forEach(function(b, i) { %>
                                                        <tr>
                                                            <td>
                                                                Image -
                                                                <%= b.designation %>
                                                            </td>
                                                            <td>
                                                                <%= b.designation %>
                                                            </td>
                                                            <td>
                                                                <%= b.description %>
                                                            </td>
                                                            <td>
                                                                <%= b.linkedin %>
                                                            </td>
                                                            <td class="buttons">
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn pen" data-toggle="modal" data-target="#fm<%= i %>">
                                                                    <i class='bx bxs-pencil' ></i>
                                                                </button>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="fm<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 60%;">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Board Member</h5>

                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Image</th>
                                                                                            <th>Designation</th>
                                                                                            <th>Description</th>
                                                                                            <th>LinkedIn</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <form action="/board/update-board" method="post" enctype="multipart/form-data">
                                                                                                <input type="hidden" name="id" value="<%=b._id %>">
                                                                                                <td><input type="file" class="ip-fields" name="boardImageAdd" id="boardImage"></td>
                                                                                                <td><input type="text" class="ip-fields" name="designation" id="designation" value="<%=b .designation %>"></td>
                                                                                                <td><input type="text" class="ip-fields" name="description" id="description" value="<%=b .description %>"></td>
                                                                                                <td><input type="text" class="ip-fields" name="linkedin" id="linkedin" value="<%=b .linkedin %>"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                <button type="submit" class="btn btn-success">Save changes</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Delete Button -->
                                                                <form action="/board/delete-board" method="post">
                                                                    <input type="hidden" name="id" value="<%=b._id %>">
                                                                    <button type="submit" class="btn pen">
                                                                    <i class='bx bxs-trash-alt'></i>
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <%- include('../partials/footer.ejs') %>
                        <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include('../partials/logout.ejs') %>

            <!-- JS Imports -->
            <%- include('../partials/jsimportstables.ejs') %>

    </body>

</html>