<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    <% event.forEach(function(e){ %>

        <div class="col-lg-4 col-md-6 portfolio-item ">
            <div class="portfolio-wrap">

                <!-- <img src="<%= e.eventImage %>" class="img-fluid" alt=""> -->
                <img src="data:image/<%= e.eventImage.contentType%>;base64,<%=e.eventImage.data.toString('base64')%>" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>
                        <%= e.eventName %>
                    </h4>
                    <!-- <p>See More</p> -->
                    <div class="portfolio-links">
                        <a href="../../../public/client-side/img/headerimg.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<b>Event Name:</b> <%= e.eventName %> <br> 
                        <b> Event Date & Time:</b> <%= e.eventDate %> <br>
                        <b> Instagram Link:</b> <a href='<%= e.eventLink %>'><%= e.eventLink %></a><br>
                        <b> Event Description:</b> <%= e.eventDescription %>"><span title="">Read More</span></a>
                    </div>
                </div>

            </div>
        </div>

        <% }) %>
</div>